body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
* {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}
html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #ffffff;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size: 15px;
  margin: 0;
  line-height: 24px;
}

body {
  margin: 0;
  background-color: #efefef;
  background: #ffffff;
}

body, html, #app, #app > div{
  height: 100%;
}

a {
  color: #ff4081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.m-b-15 {
  margin-bottom: 15px
}
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888888;
    -webkit-border-radius: 1ex;
    border: none;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/** { font-family: Roboto, sans-serif; }
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 1ex;
    border: none;
}

::-webkit-scrollbar-corner {
    background: transparent;
}*/
.pageBase {
  padding: 30px;
  background-color: #ffffff
}
a {color: initial; text-decoration: none !important;}
.sigCanvas {
  border: 1px solid #eaeaea;
}
.react-calendar-timeline .rct-header .rct-label-group {
  background-color: rgb(0, 188, 212);
  border-top: 1px solid #eaeaea;
}
.react-calendar-timeline .rct-sidebar .rct-sidebar-header {
  background-color: rgb(0, 188, 212);
  border-top: 1px solid #eaeaea;
}
.rct-scroll {
  -ms-touch-action : none;
  touch-action : none;
}
.flex {
  display: -webkit-flex; /* Safari */
  display: flex;
}
.flex-in {
  -webkit-flex: 1;  /* Safari 6.1+ */
  -ms-flex: 1;  /* IE 10 */
  flex: 1;
}

.boxSizing div  {
  box-sizing:border-box;
}

.link {
  background-color: #FF5722;
  color: #ffffff;
  padding: 4px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 4px;
  user-select: none;
  border: 1px solid rgba(0,0,0,.08);
  border-bottom: 3px solid rgba(0,0,0,.3);
  max-width: 120px;
  text-align: center;
}
.rc-calendar-date {
  overflow: auto;
  /*max-width: 150px;*/
}
.row-calendar {
  position:absolute;
  overflow-y:hidden;
  height:36px;
  font-size:11px;
  width:100%;
  line-height:15px;
  background-color:#00bcd4;
  padding:4px;
  color:#ffffff;
  margin-bottom:2px;
  text-align:left;
}
.text-box {
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
}
.map {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}

.btn {
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  margin-right: 5px;
  border: 1px solid rgba(0,0,0,.08);
  border-bottom: 3px solid rgba(0,0,0,.3);
  text-align: center;
}

.one {
  background-color: #00bcd4;
  color:#ffffff;
}
.two {
  background-color: #ff4081;
  color:#ffffff
}
.three {
  background-color: #2196F3;
  color:#ffffff
}
.four {
  background-color: #689F38;
  color: #ffffff;
}
.five{
  background-color: #FF5722;
  color:#ffffff;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row {
  font-size: 13px
}

.input {
  padding: 0px;
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.87);
    cursor: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
    box-sizing: border-box;
    /* margin-top: 14px; */
    -webkit-appearance: textfield;
    border: 1px solid #fcfcfc;
    padding: 4px;
    border-left: 1px solid #fcfcfc;
    color: #222222;
    background: rgba(0,0,0,0.05);
}
.input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999999;
}
.input::-moz-placeholder { /* Firefox 19+ */
  color: #999999;
}
.input:-ms-input-placeholder { /* IE 10+ */
  color: #999999;
}
.input:-moz-placeholder { /* Firefox 18- */
  color: #999999;
}
.project-header {
  display:flex;
}
.project-label{
  padding:10px;
  background-color:rgb(236, 240, 241);
  color:#000000;
  width:120px;
  border-bottom:1px solid #fcfcfc;
}
.project-value{
  padding:10px;
  background-color:rgb(27, 144, 161);
  color:#ffffff;
  flex:1;
  margin-right:0px;
  border-bottom:1px solid #fcfcfc;
}
.textFillColorWhite{
  -webkit-text-fill-color:'#ffffff';
}
.toolbar__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list-item {
  border-bottom: 1px solid #f0f0f0;
}
